@model Vispl.Trainee.StumpScore.VO.Models.UserDashboardVM
@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    System.Text.StringBuilder allTournaments = new System.Text.StringBuilder(); ;
}

@foreach (var tournament in Model.Tournaments)
{
    allTournaments.Append($"<p>{tournament.Name}</p>");
}

<style>
    #defaultLayout {
        padding: 10px;
    }
</style>
<div>
    <h1 class="text-center">Welcome to StumpScore</h1>
    <div>
        @Html.EJS().DashboardLayout("userDashboard").Columns(6).Panels(panel =>
   {
       panel.SizeX(1).SizeY(1).Row(0).Col(0).Content(allTournaments.ToString()).Header("All Tournaments").Add();
       panel.SizeX(3).SizeY(1).Row(0).Col(1).Content("").Header("Ongoing Matches").Add();
   }).Render()
    </div>
</div>

