@model Vispl.Trainee.StumpScore.VO.Models.UserDashboardVM
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    System.Text.StringBuilder allTournaments = new System.Text.StringBuilder(); ;
}

<div>
    @Html.EJS().Grid("matches").DataSource(Model.Matches).Columns(col =>
{
    col.Field("Team1.Name").HeaderText("Team 1").Add();
    col.Field("Team2.Name").HeaderText("Team 2").Add();
    col.Field("").Template("#matchStart").Add();
}).Render()
</div>

<script id="matchStart" type="text/x-template">
    <a href="/user/Home/LiveMatchHandler?matchId=${Id}&amp;tournamentId=${TournamentId}">Start</a>
</script>



