@model Vispl.Trainee.StumpScore.VO.Models.AdminDashboardVM
@{
    ViewBag.Title = "Admin DashBoard";
}
<style>
    .pointer {
        cursor: pointer;
    }

    .box50px {
        height: 50px;
        width: 50px;
    }

    .circular {
        border-radius: 50%;
    }

    .heading {
        font-size: 1.2rem;
        text-align: center;
    }
</style>

<div>
    @Html.EJS().DashboardLayout("HomeDashboard").Columns(6).ContentTemplate(@<div>
        <div id="tournaments" class="e-panel" data-row="0" data-col="0" data-sizeX="2" data-sizeY="2">
            <div class="heading">
                All Tournaments
            </div>
            <div class="e-panel-container">
                <div class="text-align">
                    @Html.EJS().Grid("allTournament").DataSource(Model.Tournaments).Columns(col =>
               {
                   col.Field("Name").Template("<div><image src='${TournamentIcon}'/><span>${Name}</span</div>").Add();
                   col.Field("StartingDate").HeaderText("Starts on").Format("yMd").Add();
                   col.HeaderText("").Template("<span class='pointer'>&#9660</span>&nbsp;&nbsp;<span>Teams</span>").Add();
               }).Render()
                </div>
            </div>
        </div>
        <div id="recentMatches" class="e-panel" data-row="0" data-col="2" data-sizeX="4" data-sizeY="1">
            <div class="heading">
                Recent Matches
            </div>
            <div class="class=" e-panel-container"">
                <div class="text-align">
                    @Html.EJS().Grid("allMatches").DataSource(Model.Matches).Columns(col =>
               {
                   col.Field("Team1.Name").HeaderText("").Template("<div><img class=\"box50px circular\" src=${Team1.TeamIcon} /><span>${Team1.Name}</span></div>").Add();
                   col.Field("").Template("v/s").Width("40").Add();
                   col.Field("Team2.Name").HeaderText("").Template("<div><img class=\"box50px circular\" src=${Team2.TeamIcon} /><span>${Team2.Name}</span></div>").Add();
                   col.Field("Stadium.StadiumName").HeaderText("").Template("<span><b>Stadium</b></span><br/><span>${Stadium.StadiumName}</span>").Add();
                   col.Field("MatchStart").HeaderText("").Format("dd-MM-yyyy HH:mm").Add();
                   col.Field("").Template("#matchStart").Add();

               }).Render()
                </div>
            </div>
        </div>
    </div>).Render()
</div>

<script id="teamName" type="text/x-template">
    <div><img class="box50px" src=${Team1.TeamIcon} /><span>${Team1.Name}</span></div>
</script>
<script id="matchStart" type="text/x-template">
    <a href="/Admin/Match/StartTheMatch?matchId=${Id}&amp;tournamentId=${TournamentId}">Start</a>
</script>


