@model List<Vispl.Trainee.StumpScore.VO.Models.Player>
@{
    ViewBag.Title = "All Players";
}
@functions{
    public string GetImageLocation(string playerType)
    {
        return "";
    }
}
<style>
    #PlayerContainer {
        padding: 2rem;
    }

    .image img {
        height: 55px;
        width: 55px;
        border-radius: 50px;
        box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0, 0, 0, 0.2);
    }

    .playerTypeImage {
        width: 25px;
        height: 25px;
    }

</style>
<script>
    function recordClick(args) {
        console.log(args);
    }
</script>
<div id="PlayerContainer">
    <div>
        <h2 class="text-center">All Players</h2>
        <div>
            @Html.ActionLink("Create new", "Create", "Player", new { @class = "createBtn" })
        </div>
    </div>
    <div>
        @Html.EJS().Grid("grid").DataSource(Model).Columns(col =>
    {
        col.Field("Name").HeaderText("Player").Template("#playerInfo").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Width("250").Add();
        col.Field("Nationality.CountryFlag").HeaderText("Country").Template(" <img src=${Nationality.CountryFlag} height='30px'/>").Add();
        col.Field("DateOfBirth").HeaderText("Date Of Birth").Format("yMd").Add();
        col.Field("MatchesPlayed").HeaderText("Total Matches").Add();
        col.Field("RunsScored").HeaderText("Total Runs").Add();
        col.Field("WicketTaken").HeaderText("Total Wickets").Add();
        col.Field("BattingAverage").HeaderText("Batting Average").Add();
        col.Field("BowlingAverage").HeaderText("Batting Average").Add();

        col.Field("100/50").HeaderText("100/50").Template("#centuriesHalfCenturies").Add();

    }).AllowPaging(true).PageSettings(p =>
    {
        p.PageSize(6);
    }).AllowFiltering().Render()
    </div>
</div>

<script id="playerInfo" type="text/x-template">
    <div>
        <span class="image">
            <img src="${Picture}" alt="" />
        </span>
        <span>${Name}</span>
        <span>(${JerseyNumber})</span>
        <span>
            <img class="playerTypeImage" src="../../../../Content/Images/PlayersType/${PlayerType.TypeName}.png" />
        </span>
    </div>
</script>
<script id="centuriesHalfCenturies" type="text/x-template">
    <div>
        <span>${Centuries}/${HalfCenturies}</span>
    </div>
</script>
