nav{
    display:flex;
    justify-content:space-between;
}
.createBtn {
    border: 1px solid red;
    color: red;
}

/*------------------- global classes*/
.heading3 {
    font-weight:600;
    font-size:15px;
}